<div xmlns:th="http://www.thymeleaf.org">
    <span th:remove="tag" th:fragment="common-css" xmlns:th="http://www.thymeleaf.org">
    <!-- Bootstrap -->
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />

        <!-- Custom -->
        <link th:href="@{/resources/css/custom.css}" rel="stylesheet" />
    
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->
    
        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        
        <!-- CSS STYLE-->
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" media="screen" />
        
        <!-- VALIDATION CSS-->
        <link rel="stylesheet" type="text/css" th:href="@{/resources/js/plugin/validation/css/validationEngine.jquery.css}"/>
        
        <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
        <link rel="stylesheet" type="text/css" th:href="@{/resources/js/plugin/rs-plugin/css/settings.css}" media="screen" />
    </span>
    
    <span th:remove="tag" th:fragment="common-js" xmlns:th="http://www.thymeleaf.org">
        <script type="text/javascript" th:src="@{/resources/js/jquery/2.1.4/jquery.min.js}"></script>
        <!-- js plugin source  -->
        <script type="text/javascript" th:src="@{/resources/js/plugin/rs-plugin/js/jquery.themepunch.plugins.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/plugin/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>

        <script th:src="@{/resources/js/bootstrap.min.js}"></script>
        <script th:src="@{/resources/js/forum/registration.js}"></script>
        <script th:src="@{/resources/js/ajax.js}"></script>
        <script th:src="@{/resources/js/alert.js}"></script>
        <script th:src="@{/resources/js/plugin/moment/moment.min.js}"></script>
        <script th:src="@{/resources/js/plugin/notification/notify.min.js}"></script>
        <script th:src="@{/resources/js/plugin/validation/js/jquery.validationEngine-en.js}"></script>
        <script th:src="@{/resources/js/plugin/validation/js/jquery.validationEngine.js}"></script>
    </span>
    
    <!-- Header fragment -->
    <div th:remove="tag" th:fragment="common-header-fragment" xmlns:th="http://www.thymeleaf.org">
        <!-- Slider -->
            <div class="tp-banner-container">
                <div class="tp-banner" >
                    <ul>    
                        <!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                            <!-- MAIN IMAGE -->
                            <img th:src="@{/resources/images/slide.jpg}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- //Slider -->

            <div class="headernav">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 logo "><a th:href="@{/home}"><img th:src="@{/resources/images/logo.jpg}" alt=""  /></a></div>
                        <div class="col-sm-2 search col-md-6">
                            <div class="wrap">
                                <form action="#" method="post" class="form">
                                    <div class="pull-left txt"><input type="text" class="form-control" placeholder="Search Topics" /></div>
                                    <div class="pull-right"><button class="btn btn-info" type="button"><i class="fa fa-search"></i></button></div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-4 avt">
                            <div class="stnt pull-left">                            
                                <form th:action="@{/content/create}" method="get" class="form">
                                    <button class="btn btn-primary " style="width: 100%">Create New Thread</button>
                                </form>
                            </div>
                            <div class="env pull-left" sec:authorize="isAuthenticated()">&nbsp;</div>
<!--                             <div class="env pull-left"><i class="fa fa-envelope"></i></div> -->

                            <div class="pull-right dropdown" sec:authorize="isAnonymous()">
                                 <div class="clearfix"></div>
                                <a th:href="@{/login}">Login</a> &nbsp;
                                <a th:href="@{/registration}">Sign up</a>
                                <!-- <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" th:href="@{/logout}">Logout</a></li>
                                </ul> -->
                            </div>
                            <div class="pull-right dropdown" sec:authorize="isAuthenticated()">
                                <a data-toggle="dropdown" href="#"><img th:src="@{/resources/images/avatar.jpg}" alt="" /></a> <b class="caret"></b>
                                <div class="status green">&nbsp;</div>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" th:href="@{/logout}">Logout</a></li>
                                </ul>
                            </div>
                            
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
    <!-- Footer fragment -->
    <div th:remove="tag" th:fragment="common-footer-fragment" xmlns:th="http://www.thymeleaf.org">
        <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-xs-3 col-sm-2 logo "><a th:href="@{/home}"><img th:src="@{/resources/images/logo.jpg}" alt=""  /></a></div>
                        <div class="col-lg-8 col-xs-9 col-sm-5 ">Copyrights 2017, Saurav Wahid</div>
                        <div class="col-lg-3 col-xs-12 col-sm-5 sociconcent">
                            <ul class="socialicons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
    </div>
</div>
