<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forum :: Sign In</title>
        
        <span th:replace="commons :: common-css"></span>
    </head>
    <body class="newaccountpage">

        <div class="container-fluid">
        
            <span th:replace="commons :: common-header-fragment"></span>
            
            <section class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 breadcrumbf">
                            <a href="#">Login Account</a> 
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <!-- POST -->
                            <div class="post">
                                <form th:action="@{/login}" class="form newtopic" method="post" id="loginForm">
                                    <div class="postinfotop">
                                        <h2>Login Account</h2>
                                    </div>

                                    <!-- acc section -->
                                    <div class="accsection">
                                        <div class="acccap">
                                            <p th:if="${loginError}" class="error">Wrong user or password</p>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="topwrap">
                                            <div class="userinfo pull-left">
                                            </div>
                                            <div class="posttext pull-left">
                                                <div class="row">
                                                <label for="username"> Username</label>
                                                    <input type="text" placeholder="User Name" class="form-control validate[required] text-input" th:name="username" autofocus="autofocus"/>
                                                </div>
                                                <div class="row">
                                                    <label for="pass"> Password</label>
                                                    <input type="password" placeholder="Password" class="form-control validate[required] text-input" th:name="password" />
                                                </div>
                                                <div>
                                                    <input type="hidden" th:name="${_csrf.parameterName}"   th:value="${_csrf.token}" />
                                                </div>
                                                <div class="clearfix">&nbsp;</div>
                                                <div class="row">
                                                    <div></div>
                                                    <button type="submit" class="btn btn-primary">Login</button>
                                                </div>
                                                

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>  
                                    </div>
                                    <!-- ./acc section END -->
                                </form>
                                    <div class="postinfobot">
                                        <div class="pull-right postreply">
                                            <form th:action="@{/registration}" method="get" class="form">
                                                <button class="btn btn-primary">Create Account</button>
                                            </form>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                            </div><!-- POST -->
                        </div>
                    </div>
                </div>
            </section>
            
            <footer>
                <span th:replace="commons :: common-footer-fragment"></span>
            </footer>
        </div>
        
        <!-- get js source from CommonHtml -->
        <span th:replace="commons :: common-js"></span>
    </body>
</html>