<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forum :: New account</title>
        
        <span th:replace="commons :: common-css"></span>
    </head>
    <body class="newaccountpage">

        <div class="container-fluid">
            
            <span th:replace="commons :: common-header-fragment"></span>
            
            <section class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 breadcrumbf">
                            <a href="#">Create New account</a> 
                        </div>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">

                            <!-- POST -->
                            <div class="post">
                                <form action="#" class="form newtopic" method="post" id="registerForm">
                                    <div class="postinfotop">
                                        <h2>Create New Account</h2>
                                    </div>

                                    <!-- acc section -->
                                    <div class="accsection">
                                        <div class="acccap">
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="topwrap">
                                            <div class="userinfo pull-left">
                                                <div class="avatar">
                                                    <img th:src="@{/resources/images/avatar-blank.jpg}" alt="" />
                                                    <div class="status green">&nbsp;</div>
                                                </div>
                                                <div class="imgsize">60 x 60</div>
                                                <div>
                                                    <button class="btn">Add</button>
                                                </div>
                                            </div>
                                            <div class="posttext pull-left">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        <input type="text" placeholder="First Name" class="form-control validate[required] text-input" id="firstName"/>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <input type="text" placeholder="Last Name" class="form-control validate[required] text-input" id="lastName"/>
                                                    </div>
                                                </div>
                                                <div>
                                                    <input type="text" placeholder="Email" class="form-control validate[required, custom[email]] text-input" id="email"/>
                                                </div>
                                                <div>
                                                    <input type="text" placeholder="User Name" class="form-control validate[required] text-input" id="username"/>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        <input type="password" placeholder="Password" class="form-control validate[required] text-input" id="pass" name="pass" />
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <input type="password" placeholder="Retype Password" class="form-control validate[required,equals[pass]] text-input" id="pass2" name="pass2" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <input type="hidden" id="csrfToken"  th:value="${_csrf.token}"/>
                                                    <input type="hidden" id="csrfHeader" th:value="${_csrf.headerName}"/>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>  
                                    </div>
                                    <!-- ./acc section END -->
                                    
                                    <div class="postinfobot">
                                        <div class="notechbox pull-left">
                                            <input type="checkbox" name="note" id="note" class="form-control" />
                                        </div>
                                        <div class="pull-left lblfch">
                                            <label for="note"> I agree with the Terms and Conditions of this site</label>
                                        </div>
                                        <div class="pull-right postreply">
                                            <div class="pull-left smile"><a href="#"><i class="fa fa-smile-o"></i></a></div>
                                            <div class="pull-left"><button type="submit" class="btn btn-primary">Sign Up</button></div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div><!-- POST -->
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <span th:replace="commons :: common-footer-fragment"></span>
            </footer>
        </div>


        <!-- get js source from CommonHtml -->
        <span th:replace="commons :: common-js"></span>
        
    </body>
</html>